{% extends 'user/home.html' %}

{% block content %}
    <h1>Entradas Noder</h1>

    <style>
        table {
            border-collapse: collapse;
        }

        thead {
            background-color: black;
            color: white;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>

    <table>
        <thead>
            <th>ID_Entrada</th>
            <th>Codigo do Produto</th>
            <th>Realizada por</th>
            <th>Data</th>
            <th>Quantidade</th>
            <th>Fornecedor</th>
            <th>Lote</th>
        </thead>
        <tbody>
            {% for entrada in entradas %}
            <tr>
                <td>{{ entrada.pk }}</td>
                <td>{{ entrada.codigo }}</td>
                <td>{{ entrada.user }}</td>
                <td>{{ entrada.data }}</td>
                <td>{{ entrada.quantidade }}</td>
                <td>{{ entrada.fornecedor }}</td>
                <td>{{ entrada.lote }}</td>
                <!-- <td>
                    <a href="{% url 'edit_produto' produto.pk %}">
                        <button type="submit">Editar</button>
                    </a>
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_produto' produto.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit">Deletar</button>
                    </form>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}