{% extends 'user/home.html' %} 
{% load static %} 
{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/produtos.css' %}" />
{% endblock %} 
{% block content %}

<div class="page-container">
  <h1 class="titulo">Estoque Noder</h1>

  <div class="top-actions">
    <a href="{% url 'create_produtos' %}" class="btn-add">+ Adicionar Produto</a>
  </div>

  <table class="tabela-produtos">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nome</th>
        <th>Imagem</th>
        <th>Preço</th>
        <th>Fabricante</th>
        <th>Categoria</th>
        <th>Estoque Mínimo</th>
        <th>Altura</th>
        <th>Comprimento</th>
        <th>Largura</th>
        <th>Peso (g)</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody>
      {% for produto in produtos %}
      <tr>
        <td>{{ produto.codigo }}</td>
        <td>{{ produto.nome }}</td>
        <td class="img-col">
                {% if produto.imagem %}
                    <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}">
                {% else %}
                    <span class="img-placeholder">Sem imagem</span>
                {% endif %}
        </td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.fabricante }}</td>
        <td>{{ produto.categoria }}</td>
        <td>{{ produto.estoque_limite }}</td>
        <td>{{ produto.altura }}</td>
        <td>{{ produto.comprimento }}</td>
        <td>{{ produto.largura }}</td>
        <td>{{ produto.peso }}</td>

        <td class="acoes">
          <a href="{% url 'edit_produto' produto.pk %}" class="btn-edit">Editar</a>
          <form method="POST" action="{% url 'delete_produto' produto.pk %}" class="form-delete">
            {% csrf_token %}
            <button type="submit" class="btn-delete" onclick="return confirm('Tem certeza que deseja excluir este produto?')">
              Excluir
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
