{% extends 'user/home.html' %}

{% block content %}
    <h1>Saida Noder</h1>

    <style>
        table {
            border-collapse: collapse;
        }

        thead {
            background-color: black;
            color: white;
        }

        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
    </style>

    <table>
        <thead>
            <th>ID_Saida</th>
            <th>Codigo do Produto</th>
            <th>Realizada por</th>
            <th>Data</th>
            <th>Quantidade</th>
            <th>Fornecedor</th>
            <th>Lote</th>
        </thead>
        <tbody>
            {% for saida in saidas %}
            <tr>
                <td>{{ saida.pk }}</td>
                <td>{{ saida.codigo }}</td>
                <td>{{ saida.user }}</td>
                <td>{{ saida.data }}</td>
                <td>{{ saida.quantidade }}</td>
                <td>{{ saida.fornecedor }}</td>
                <td>{{ saida.lote }}</td>
                <!-- <td>
                    <a href="{% url 'edit_produto' produto.pk %}">
                        <button type="submit">Editar</button>
                    </a>
                </td>
                <td>
                    <form method="POST" action="{% url 'delete_produto' produto.pk %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                    <button type="submit">Deletar</button>
                    </form>
                </td> -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}